.toolbar-title {
    // override default of left-alingned title
    margin: auto;
}

.diagram {
    margin-top: 15px;
    margin-bottom: 10px;

    h2 {
        margin-bottom: 10px;
    }
}

.tl-params {
    width: 80%;
    max-width: 875px;
    margin: auto;
}

img {
    width: 100%;
    margin: auto;
    max-height: 520px;
}

// get rid of spinners for numbers in form inputs
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}